In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import MultipleLocator
import time
from datetime import *
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import math

In [50]:
dataset1 = 'J:/103-Code/06-Informer/Dataset/ETT-small/ETTh1.csv'
dataset2 = 'J:/103-Code/06-Informer/Dataset/ETT-small/ETTh2.csv'

In [51]:
data1 = pd.read_csv(dataset1)
data2 = pd.read_csv(dataset2)

In [52]:
data1.head() #24个数据是1天；48个数据是2天；169个数据是1周；336个数据是2周；720个数据是1个月

                  date   HUFL   HULL   MUFL   MULL   LUFL   LULL         OT
0  2016-07-01 00:00:00  5.827  2.009  1.599  0.462  4.203  1.340  30.531000
1  2016-07-01 01:00:00  5.693  2.076  1.492  0.426  4.142  1.371  27.787001
2  2016-07-01 02:00:00  5.157  1.741  1.279  0.355  3.777  1.218  27.787001
3  2016-07-01 03:00:00  5.090  1.942  1.279  0.391  3.807  1.279  25.044001
4  2016-07-01 04:00:00  5.358  1.942  1.492  0.462  3.868  1.279  21.948000

In [53]:
data2.head() #24个数据是1天；48个数据是2天；169个数据是1周；336个数据是2周；720个数据是1个月

,date,HUFL,HULL,MUFL,MULL,LUFL,LULL,OT
0,2016-07-01 00:00:00,41.130001,12.481,36.535999,9.355,4.424,1.311,38.661999
1,2016-07-01 01:00:00,37.528000,10.136,33.936001,7.532,4.435,1.215,37.124001
2,2016-07-01 02:00:00,37.946999,11.309,35.330002,9.007,2.100,0.000,36.465000
3,2016-07-01 03:00:00,38.952000,11.895,35.543999,9.436,3.380,1.215,33.608501
4,2016-07-01 04:00:00,38.113998,11.476,35.410000,9.623,2.036,0.000,31.850500

In [54]:
combine1 = data1[:11712] #1年训练集+4个月测试集
combine2 = data2[:11712] #1年训练集+4个月测试集

In [55]:
combine1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11712 entries, 0 to 11711
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    11712 non-null  object
 1   HUFL    11712 non-null  float64
 2   HULL    11712 non-null  float64
 3   MUFL    11712 non-null  float64
 4   MULL    11712 non-null  float64
 5   LUFL    11712 non-null  float64
 6   LULL    11712 non-null  float64
 7   OT      11712 non-null  float64
dtypes: float64(7), object(1)
memory usage: 732.1+ KB

In [56]:
combine2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11712 entries, 0 to 11711
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    11712 non-null  object
 1   HUFL    11712 non-null  float64
 2   HULL    11712 non-null  float64
 3   MUFL    11712 non-null  float64
 4   MULL    11712 non-null  float64
 5   LUFL    11712 non-null  float64
 6   LULL    11712 non-null  float64
 7   OT      11712 non-null  float64
dtypes: float64(7), object(1)
memory usage: 732.1+ KB

In [57]:
combine1

,date,HUFL,HULL,MUFL,MULL,LUFL,LULL,OT
0,2016-07-01 00:00:00,5.827,2.009,1.599,0.462,4.203,1.340,30.531000
1,2016-07-01 01:00:00,5.693,2.076,1.492,0.426,4.142,1.371,27.787001
2,2016-07-01 02:00:00,5.157,1.741,1.279,0.355,3.777,1.218,27.787001
3,2016-07-01 03:00:00,5.090,1.942,1.279,0.391,3.807,1.279,25.044001
4,2016-07-01 04:00:00,5.358,1.942,1.492,0.462,3.868,1.279,21.948000
...,...,...,...,...,...,...,...,...
11707,2017-10-31 19:00:00,11.119,3.952,8.671,2.239,1.980,1.097,7.949000
11708,2017-10-31 20:00:00,11.119,3.952,8.671,2.239,1.980,1.097,7.949000
11709,2017-10-31 21:00:00,11.119,3.952,8.671,2.239,1.980,1.097,7.949000
11710,2017-10-31 22:00:00,11.119,3.952,8.671,2.239,1.980,1.097,7.949000
11711,2017-10-31 23:00:00,11.119,3.952,8.671,2.239,1.980,1.097,7.949000

In [58]:
combine2

,date,HUFL,HULL,MUFL,MULL,LUFL,LULL,OT
0,2016-07-01 00:00:00,41.130001,12.481,36.535999,9.355,4.424,1.311,38.661999
1,2016-07-01 01:00:00,37.528000,10.136,33.936001,7.532,4.435,1.215,37.124001
2,2016-07-01 02:00:00,37.946999,11.309,35.330002,9.007,2.100,0.000,36.465000
3,2016-07-01 03:00:00,38.952000,11.895,35.543999,9.436,3.380,1.215,33.608501
4,2016-07-01 04:00:00,38.113998,11.476,35.410000,9.623,2.036,0.000,31.850500
...,...,...,...,...,...,...,...,...
11707,2017-10-31 19:00:00,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000
11708,2017-10-31 20:00:00,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000
11709,2017-10-31 21:00:00,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000
11710,2017-10-31 22:00:00,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000
11711,2017-10-31 23:00:00,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000

In [59]:
combine1['date'] = combine1['date'].map(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S")) #将date的格式转为datetime格式
combine2['date'] = combine2['date'].map(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S")) #将date的格式转为datetime格式

C:\Users\Administrator\AppData\Local\Temp\ipykernel_8424\473082862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combine1['date'] = combine1['date'].map(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S")) #将date的格式转为datetime格式
C:\Users\Administrator\AppData\Local\Temp\ipykernel_8424\473082862.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combine2['date'] = combine2['date'].map(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S")) #将date的格式转为datetime格式

In [60]:
combine1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11712 entries, 0 to 11711
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    11712 non-null  datetime64[ns]
 1   HUFL    11712 non-null  float64
 2   HULL    11712 non-null  float64
 3   MUFL    11712 non-null  float64
 4   MULL    11712 non-null  float64
 5   LUFL    11712 non-null  float64
 6   LULL    11712 non-null  float64
 7   OT      11712 non-null  float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 732.1 KB

In [61]:
combine2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11712 entries, 0 to 11711
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    11712 non-null  datetime64[ns]
 1   HUFL    11712 non-null  float64
 2   HULL    11712 non-null  float64
 3   MUFL    11712 non-null  float64
 4   MULL    11712 non-null  float64
 5   LUFL    11712 non-null  float64
 6   LULL    11712 non-null  float64
 7   OT      11712 non-null  float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 732.1 KB

In [62]:
# 使用map()或apply()函数对日期特征进行年、月、日的提取
year1= combine1["date"].map(lambda x: x.year) 
month1 = combine1["date"].map(lambda x: x.month)
day1 = combine1["date"].map(lambda x: x.day)
hour1 = combine1["date"].map(lambda x: x.hour)

year2= combine2["date"].map(lambda x: x.year) 
month2 = combine2["date"].map(lambda x: x.month)
day2 = combine2["date"].map(lambda x: x.day)
hour2 = combine2["date"].map(lambda x: x.hour)

In [63]:
#删除原Date数据
combine1 = combine1.drop('date',axis=1)
combine2 = combine2.drop('date',axis=1)
#将年月日数据插入到原训练集中
#combine.insert(loc=0, column='Year', value= year) #油温主要随着月份变化，年和日可以不用
combine1.insert(loc=0, column='Month', value= month1)
combine2.insert(loc=0, column='Month', value= month2)
#ombine.insert(loc=2, column='Day', value= day) #油温主要随着月份变化，年和日可以不用
combine1.insert(loc=1, column='Hour', value= hour1) #数据集是以1小时为间隔的，所以分和秒不用提取
combine2.insert(loc=1, column='Hour', value= hour2)

In [64]:
combine1

       Month  Hour    HUFL   HULL   MUFL   MULL   LUFL   LULL         OT
0          7     0   5.827  2.009  1.599  0.462  4.203  1.340  30.531000
1          7     1   5.693  2.076  1.492  0.426  4.142  1.371  27.787001
2          7     2   5.157  1.741  1.279  0.355  3.777  1.218  27.787001
3          7     3   5.090  1.942  1.279  0.391  3.807  1.279  25.044001
4          7     4   5.358  1.942  1.492  0.462  3.868  1.279  21.948000
...      ...   ...     ...    ...    ...    ...    ...    ...        ...
11707     10    19  11.119  3.952  8.671  2.239  1.980  1.097   7.949000
11708     10    20  11.119  3.952  8.671  2.239  1.980  1.097   7.949000
11709     10    21  11.119  3.952  8.671  2.239  1.980  1.097   7.949000
11710     10    22  11.119  3.952  8.671  2.239  1.980  1.097   7.949000
11711     10    23  11.119  3.952  8.671  2.239  1.980  1.097   7.949000

[11712 rows x 9 columns]

In [65]:
combine2

,Month,Hour,HUFL,HULL,MUFL,MULL,LUFL,LULL,OT
0,7,0,41.130001,12.481,36.535999,9.355,4.424,1.311,38.661999
1,7,1,37.528000,10.136,33.936001,7.532,4.435,1.215,37.124001
2,7,2,37.946999,11.309,35.330002,9.007,2.100,0.000,36.465000
3,7,3,38.952000,11.895,35.543999,9.436,3.380,1.215,33.608501
4,7,4,38.113998,11.476,35.410000,9.623,2.036,0.000,31.850500
...,...,...,...,...,...,...,...,...,...
11707,10,19,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000
11708,10,20,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000
11709,10,21,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000
11710,10,22,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000
11711,10,23,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000

In [66]:
#标准化
from sklearn import preprocessing
combine_stand1 = combine1
HUFL11 = preprocessing.scale(combine_stand1['HUFL'])
HULL11 = preprocessing.scale(combine_stand1['HULL'])
MUFL11 = preprocessing.scale(combine_stand1['MUFL'])
MULL11 = preprocessing.scale(combine_stand1['MULL'])
LUFL11 = preprocessing.scale(combine_stand1['LUFL'])
LULL11 = preprocessing.scale(combine_stand1['LULL'])
OT11 = preprocessing.scale(combine_stand1['OT'])

combine_stand2 = combine2
HUFL12 = preprocessing.scale(combine_stand2['HUFL'])
HULL12 = preprocessing.scale(combine_stand2['HULL'])
MUFL12 = preprocessing.scale(combine_stand2['MUFL'])
MULL12 = preprocessing.scale(combine_stand2['MULL'])
LUFL12 = preprocessing.scale(combine_stand2['LUFL'])
LULL12 = preprocessing.scale(combine_stand2['LULL'])
OT12 = preprocessing.scale(combine_stand2['OT'])

In [67]:
combine_stand1.insert(loc=2, column='HUFL_stand1', value= HUFL11)
combine_stand1.insert(loc=3, column='HULL_stand1', value= HULL11)
combine_stand1.insert(loc=4, column='MUFL_stand1', value= MUFL11)
combine_stand1.insert(loc=5, column='MULL_stand1', value= MULL11)
combine_stand1.insert(loc=6, column='LUFL_stand1', value= LUFL11)
combine_stand1.insert(loc=7, column='LULL_stand1', value= LULL11)
combine_stand1.insert(loc=8, column='OT_stand1', value= OT11)
combine_stand1 = combine_stand1.drop('HUFL',axis=1)
combine_stand1 = combine_stand1.drop('HULL',axis=1)
combine_stand1 = combine_stand1.drop('MUFL',axis=1)
combine_stand1 = combine_stand1.drop('MULL',axis=1)
combine_stand1 = combine_stand1.drop('LUFL',axis=1)
combine_stand1 = combine_stand1.drop('LULL',axis=1)
combine_stand1 = combine_stand1.drop('OT',axis=1)

combine_stand2.insert(loc=2, column='HUFL_stand2', value= HUFL12)
combine_stand2.insert(loc=3, column='HULL_stand2', value= HULL12)
combine_stand2.insert(loc=4, column='MUFL_stand2', value= MUFL12)
combine_stand2.insert(loc=5, column='MULL_stand2', value= MULL12)
combine_stand2.insert(loc=6, column='LUFL_stand2', value= LUFL12)
combine_stand2.insert(loc=7, column='LULL_stand2', value= LULL12)
combine_stand2.insert(loc=8, column='OT_stand2', value= OT12)
combine_stand2 = combine_stand2.drop('HUFL',axis=1)
combine_stand2 = combine_stand2.drop('HULL',axis=1)
combine_stand2 = combine_stand2.drop('MUFL',axis=1)
combine_stand2 = combine_stand2.drop('MULL',axis=1)
combine_stand2 = combine_stand2.drop('LUFL',axis=1)
combine_stand2 = combine_stand2.drop('LULL',axis=1)
combine_stand2 = combine_stand2.drop('OT',axis=1)

In [68]:
combine_stand1

,Month,Hour,HUFL_stand1,HULL_stand1,MUFL_stand1,MULL_stand1,LUFL_stand1,LULL_stand1,OT_stand1
0,7,0,-0.269110,0.041858,-0.495781,-0.106100,1.058817,0.858005,1.668079
1,7,1,-0.290382,0.073267,-0.513334,-0.124562,1.008327,0.904252,1.338857
2,7,2,-0.375474,-0.083781,-0.548276,-0.160975,0.706209,0.675999,1.338857
3,7,3,-0.386110,0.010448,-0.548276,-0.142512,0.731041,0.767002,1.009756
4,7,4,-0.343564,0.010448,-0.513334,-0.106100,0.781532,0.767002,0.638302
...,...,...,...,...,...,...,...,...,...
11707,10,19,0.571007,0.952735,0.664360,0.805243,-0.781201,0.495485,-1.041280
11708,10,20,0.571007,0.952735,0.664360,0.805243,-0.781201,0.495485,-1.041280
11709,10,21,0.571007,0.952735,0.664360,0.805243,-0.781201,0.495485,-1.041280
11710,10,22,0.571007,0.952735,0.664360,0.805243,-0.781201,0.495485,-1.041280
11711,10,23,0.571007,0.952735,0.664360,0.805243,-0.781201,0.495485,-1.041280

In [69]:
combine_stand2

,Month,Hour,HUFL_stand2,HULL_stand2,MUFL_stand2,MULL_stand2,LUFL_stand2,LULL_stand2,OT_stand2
0,7,0,0.132610,0.302892,-0.584094,-0.123762,0.953157,0.479498,0.831661
1,7,1,-0.226371,-0.129507,-0.757275,-0.615930,0.955153,0.466349,0.698025
2,7,2,-0.184613,0.086785,-0.664423,-0.217714,0.531380,0.299925,0.640765
3,7,3,-0.084453,0.194838,-0.650169,-0.101893,0.763684,0.466349,0.392566
4,7,4,-0.167970,0.117578,-0.659095,-0.051407,0.519765,0.299925,0.239815
...,...,...,...,...,...,...,...,...,...
11707,10,19,-0.860818,-1.998499,-0.321589,-2.164520,-1.409263,0.105696,-1.115700
11708,10,20,-0.860818,-1.998499,-0.321589,-2.164520,-1.409263,0.105696,-1.115700
11709,10,21,-0.860818,-1.998499,-0.321589,-2.164520,-1.409263,0.105696,-1.115700
11710,10,22,-0.860818,-1.998499,-0.321589,-2.164520,-1.409263,0.105696,-1.115700
11711,10,23,-0.860818,-1.998499,-0.321589,-2.164520,-1.409263,0.105696,-1.115700

In [70]:
combine_stand1 = combine_stand1.to_numpy()
combine_stand2 = combine_stand2.to_numpy()

In [71]:
#归一化
combine_nor1 = combine1
min_max_scaler = preprocessing.MinMaxScaler()
HUFL21 = min_max_scaler.fit_transform(combine_nor1['HUFL'].to_numpy().reshape(-1, 1))
HULL21 = min_max_scaler.fit_transform(combine_nor1['HULL'].to_numpy().reshape(-1, 1))
MUFL21 = min_max_scaler.fit_transform(combine_nor1['MUFL'].to_numpy().reshape(-1, 1))
MULL21 = min_max_scaler.fit_transform(combine_nor1['MULL'].to_numpy().reshape(-1, 1))
LUFL21 = min_max_scaler.fit_transform(combine_nor1['LUFL'].to_numpy().reshape(-1, 1))
LULL21 = min_max_scaler.fit_transform(combine_nor1['LULL'].to_numpy().reshape(-1, 1))
OT21 = min_max_scaler.fit_transform(combine_nor1['OT'].to_numpy().reshape(-1, 1))

combine_nor2 = combine2
min_max_scaler = preprocessing.MinMaxScaler()
HUFL22 = min_max_scaler.fit_transform(combine_nor2['HUFL'].to_numpy().reshape(-1, 1))
HULL22 = min_max_scaler.fit_transform(combine_nor2['HULL'].to_numpy().reshape(-1, 1))
MUFL22 = min_max_scaler.fit_transform(combine_nor2['MUFL'].to_numpy().reshape(-1, 1))
MULL22 = min_max_scaler.fit_transform(combine_nor2['MULL'].to_numpy().reshape(-1, 1))
LUFL22 = min_max_scaler.fit_transform(combine_nor2['LUFL'].to_numpy().reshape(-1, 1))
LULL22 = min_max_scaler.fit_transform(combine_nor2['LULL'].to_numpy().reshape(-1, 1))
OT22 = min_max_scaler.fit_transform(combine_nor2['OT'].to_numpy().reshape(-1, 1))

In [72]:
HUFL21 = HUFL21.reshape( -1)
HULL21 = HULL21.reshape( -1)
MUFL21 = MUFL21.reshape( -1)
MULL21 = MULL21.reshape( -1)
LUFL21 = LUFL21.reshape( -1)
LULL21 = LULL21.reshape( -1)
OT21 = OT21.reshape( -1)

HUFL22 = HUFL22.reshape( -1)
HULL22 = HULL22.reshape( -1)
MUFL22 = MUFL22.reshape( -1)
MULL22 = MULL22.reshape( -1)
LUFL22 = LUFL22.reshape( -1)
LULL22 = LULL22.reshape( -1)
OT22 = OT22.reshape( -1)

In [73]:
combine_nor1.insert(loc=2, column='HUFL_nor1', value= HUFL21)
combine_nor1.insert(loc=3, column='HULL_nor1', value= HULL21)
combine_nor1.insert(loc=4, column='MUFL_nor1', value= MUFL21)
combine_nor1.insert(loc=5, column='MULL_nor1', value= MULL21)
combine_nor1.insert(loc=6, column='LUFL_nor1', value= LUFL21)
combine_nor1.insert(loc=7, column='LULL_nor1', value= LULL21)
combine_nor1.insert(loc=8, column='OT_nor1', value= OT21)

combine_nor2.insert(loc=2, column='HUFL_nor2', value= HUFL22)
combine_nor2.insert(loc=3, column='HULL_nor2', value= HULL22)
combine_nor2.insert(loc=4, column='MUFL_nor2', value= MUFL22)
combine_nor2.insert(loc=5, column='MULL_nor2', value= MULL22)
combine_nor2.insert(loc=6, column='LUFL_nor2', value= LUFL22)
combine_nor2.insert(loc=7, column='LULL_nor2', value= LULL22)
combine_nor2.insert(loc=8, column='OT_nor2', value= OT22)

In [74]:
combine_nor1

,Month,Hour,HUFL_nor1,HULL_nor1,MUFL_nor1,MULL_nor1,LUFL_nor1,LULL_nor1,OT_nor1,HUFL_stand1,...,LUFL_stand1,LULL_stand1,OT_stand1,HUFL,HULL,MUFL,MULL,LUFL,LULL,OT
0,7,0,0.588227,0.454943,0.599461,0.473673,0.556576,0.613765,0.691018,-0.269110,...,1.058817,0.858005,1.668079,5.827,2.009,1.599,0.462,4.203,1.340,30.531000
1,7,1,0.585130,0.459449,0.596738,0.471006,0.550279,0.620783,0.636233,-0.290382,...,1.008327,0.904252,1.338857,5.693,2.076,1.492,0.426,4.142,1.371,27.787001
2,7,2,0.572743,0.436920,0.591319,0.465748,0.512595,0.586144,0.636233,-0.375474,...,0.706209,0.675999,1.338857,5.157,1.741,1.279,0.355,3.777,1.218,27.787001
3,7,3,0.571194,0.450437,0.591319,0.468414,0.515693,0.599955,0.581468,-0.386110,...,0.731041,0.767002,1.009756,5.090,1.942,1.279,0.391,3.807,1.279,25.044001
4,7,4,0.577388,0.450437,0.596738,0.473673,0.521990,0.599955,0.519656,-0.343564,...,0.781532,0.767002,0.638302,5.358,1.942,1.492,0.462,3.868,1.279,21.948000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11707,10,19,0.710532,0.585609,0.779401,0.605273,0.327070,0.558750,0.240162,0.571007,...,-0.781201,0.495485,-1.041280,11.119,3.952,8.671,2.239,1.980,1.097,7.949000
11708,10,20,0.710532,0.585609,0.779401,0.605273,0.327070,0.558750,0.240162,0.571007,...,-0.781201,0.495485,-1.041280,11.119,3.952,8.671,2.239,1.980,1.097,7.949000
11709,10,21,0.710532,0.585609,0.779401,0.605273,0.327070,0.558750,0.240162,0.571007,...,-0.781201,0.495485,-1.041280,11.119,3.952,8.671,2.239,1.980,1.097,7.949000
11710,10,22,0.710532,0.585609,0.779401,0.605273,0.327070,0.558750,0.240162,0.571007,...,-0.781201,0.495485,-1.041280,11.119,3.952,8.671,2.239,1.980,1.097,7.949000
11711,10,23,0.710532,0.585609,0.779401,0.605273,0.327070,0.558750,0.240162,0.571007,...,-0.781201,0.495485,-1.041280,11.119,3.952,8.671,2.239,1.980,1.097,7.949000

In [75]:
combine_nor2

,Month,Hour,HUFL_nor2,HULL_nor2,MUFL_nor2,MULL_nor2,LUFL_nor2,LULL_nor2,OT_nor2,HUFL_stand2,...,LUFL_stand2,LULL_stand2,OT_stand2,HUFL,HULL,MUFL,MULL,LUFL,LULL,OT
0,7,0,0.381211,0.565340,0.308820,0.392426,0.594716,0.952870,0.656657,0.132610,...,0.953157,0.479498,0.831661,41.130001,12.481,36.535999,9.355,4.424,1.311,38.661999
1,7,1,0.347826,0.522796,0.277123,0.335277,0.595065,0.950079,0.630535,-0.226371,...,0.955153,0.466349,0.698025,37.528000,10.136,33.936001,7.532,4.435,1.215,37.124001
2,7,2,0.351710,0.544077,0.294118,0.381517,0.521097,0.914753,0.619342,-0.184613,...,0.531380,0.299925,0.640765,37.946999,11.309,35.330002,9.007,2.100,0.000,36.465000
3,7,3,0.361024,0.554709,0.296727,0.394965,0.561645,0.950079,0.570826,-0.084453,...,0.763684,0.466349,0.392566,38.952000,11.895,35.543999,9.436,3.380,1.215,33.608501
4,7,4,0.353257,0.547107,0.295093,0.400828,0.519070,0.914753,0.540967,-0.167970,...,0.519765,0.299925,0.239815,38.113998,11.476,35.410000,9.623,2.036,0.000,31.850500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11707,10,19,0.288823,0.338903,0.356867,0.155459,0.182368,0.873524,0.275999,-0.860818,...,-1.409263,0.105696,-1.115700,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000
11708,10,20,0.288823,0.338903,0.356867,0.155459,0.182368,0.873524,0.275999,-0.860818,...,-1.409263,0.105696,-1.115700,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000
11709,10,21,0.288823,0.338903,0.356867,0.155459,0.182368,0.873524,0.275999,-0.860818,...,-1.409263,0.105696,-1.115700,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000
11710,10,22,0.288823,0.338903,0.356867,0.155459,0.182368,0.873524,0.275999,-0.860818,...,-1.409263,0.105696,-1.115700,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000
11711,10,23,0.288823,0.338903,0.356867,0.155459,0.182368,0.873524,0.275999,-0.860818,...,-1.409263,0.105696,-1.115700,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000

In [76]:
combine_nor1 = combine_nor1.to_numpy()[:,0:9]
combine_nor1

array([[ 7.        ,  0.        ,  0.58822715, ...,  0.5565765 ,
         0.61376501,  0.69101763],
       [ 7.        ,  1.        ,  0.58513024, ...,  0.55027876,
         0.62078335,  0.63623297],
       [ 7.        ,  2.        ,  0.57274262, ...,  0.51259548,
         0.58614446,  0.63623297],
       ...,
       [10.        , 21.        ,  0.71053181, ...,  0.32706999,
         0.55875029,  0.24016211],
       [10.        , 22.        ,  0.71053181, ...,  0.32706999,
         0.55875029,  0.24016211],
       [10.        , 23.        ,  0.71053181, ...,  0.32706999,
         0.55875029,  0.24016211]])

In [77]:
combine_nor2 = combine_nor2.to_numpy()[:,0:9]
combine_nor2

array([[ 7.        ,  0.        ,  0.38121103, ...,  0.59471616,
         0.95286969,  0.65665709],
       [ 7.        ,  1.        ,  0.34782609, ...,  0.59506462,
         0.95007851,  0.63053486],
       [ 7.        ,  2.        ,  0.35170956, ...,  0.52109731,
         0.91475257,  0.61934203],
       ...,
       [10.        , 21.        ,  0.2888232 , ...,  0.18236822,
         0.87352445,  0.27599912],
       [10.        , 22.        ,  0.2888232 , ...,  0.18236822,
         0.87352445,  0.27599912],
       [10.        , 23.        ,  0.2888232 , ...,  0.18236822,
         0.87352445,  0.27599912]])

In [78]:
#正则化
combine_reg1 = combine1
HUFL31 = preprocessing.normalize(combine_reg1['HUFL'].to_numpy().reshape(1, -1), norm='l2', copy=True)
HULL31 = preprocessing.normalize(combine_reg1['HULL'].to_numpy().reshape(1, -1), norm='l2', copy=True)
MUFL31 = preprocessing.normalize(combine_reg1['MUFL'].to_numpy().reshape(1, -1), norm='l2', copy=True)
MULL31 = preprocessing.normalize(combine_reg1['MULL'].to_numpy().reshape(1, -1), norm='l2', copy=True)
LUFL31 = preprocessing.normalize(combine_reg1['LUFL'].to_numpy().reshape(1, -1), norm='l2', copy=True)
LULL31 = preprocessing.normalize(combine_reg1['LULL'].to_numpy().reshape(1, -1), norm='l2', copy=True)
OT31 = preprocessing.normalize(combine_reg1['OT'].to_numpy().reshape(1, -1), norm='l2', copy=True)

combine_reg2 = combine2
HUFL32 = preprocessing.normalize(combine_reg2['HUFL'].to_numpy().reshape(1, -1), norm='l2', copy=True)
HULL32 = preprocessing.normalize(combine_reg2['HULL'].to_numpy().reshape(1, -1), norm='l2', copy=True)
MUFL32 = preprocessing.normalize(combine_reg2['MUFL'].to_numpy().reshape(1, -1), norm='l2', copy=True)
MULL32 = preprocessing.normalize(combine_reg2['MULL'].to_numpy().reshape(1, -1), norm='l2', copy=True)
LUFL32 = preprocessing.normalize(combine_reg2['LUFL'].to_numpy().reshape(1, -1), norm='l2', copy=True)
LULL32 = preprocessing.normalize(combine_reg2['LULL'].to_numpy().reshape(1, -1), norm='l2', copy=True)
OT32 = preprocessing.normalize(combine_reg2['OT'].to_numpy().reshape(1, -1), norm='l2', copy=True)

In [79]:
HUFL31 = HUFL31.reshape( -1)
HULL31 = HULL31.reshape( -1)
MUFL31 = MUFL31.reshape( -1)
MULL31 = MULL31.reshape( -1)
LUFL31 = LUFL31.reshape( -1)
LULL31 = LULL31.reshape( -1)
OT31 = OT31.reshape( -1)

HUFL32 = HUFL32.reshape( -1)
HULL32 = HULL32.reshape( -1)
MUFL32 = MUFL32.reshape( -1)
MULL32 = MULL32.reshape( -1)
LUFL32 = LUFL32.reshape( -1)
LULL32 = LULL32.reshape( -1)
OT32 = OT32.reshape( -1)

In [80]:
combine_reg1.insert(loc=2, column='HUFL_reg1', value= HUFL31)
combine_reg1.insert(loc=3, column='HULL_reg1', value= HULL31)
combine_reg1.insert(loc=4, column='MUFL_reg1', value= MUFL31)
combine_reg1.insert(loc=5, column='MULL_reg1', value= MULL31)
combine_reg1.insert(loc=6, column='LUFL_reg1', value= LUFL31)
combine_reg1.insert(loc=7, column='LULL_reg1', value= LULL31)
combine_reg1.insert(loc=8, column='OT_reg1', value= OT31)

combine_reg2.insert(loc=2, column='HUFL_reg2', value= HUFL32)
combine_reg2.insert(loc=3, column='HULL_reg2', value= HULL32)
combine_reg2.insert(loc=4, column='MUFL_reg2', value= MUFL32)
combine_reg2.insert(loc=5, column='MULL_reg2', value= MULL32)
combine_reg2.insert(loc=6, column='LUFL_reg2', value= LUFL32)
combine_reg2.insert(loc=7, column='LULL_reg2', value= LULL32)
combine_reg2.insert(loc=8, column='OT_reg2', value= OT32)

In [81]:
combine_reg1

,Month,Hour,HUFL_reg1,HULL_reg1,MUFL_reg1,MULL_reg1,LUFL_reg1,LULL_reg1,OT_reg1,HUFL_nor1,...,LUFL_stand1,LULL_stand1,OT_stand1,HUFL,HULL,MUFL,MULL,LUFL,LULL,OT
0,7,0,0.005488,0.006469,0.001932,0.002071,0.012276,0.012175,0.015168,0.588227,...,1.058817,0.858005,1.668079,5.827,2.009,1.599,0.462,4.203,1.340,30.531000
1,7,1,0.005362,0.006684,0.001802,0.001910,0.012098,0.012456,0.013804,0.585130,...,1.008327,0.904252,1.338857,5.693,2.076,1.492,0.426,4.142,1.371,27.787001
2,7,2,0.004857,0.005606,0.001545,0.001591,0.011032,0.011066,0.013804,0.572743,...,0.706209,0.675999,1.338857,5.157,1.741,1.279,0.355,3.777,1.218,27.787001
3,7,3,0.004794,0.006253,0.001545,0.001753,0.011120,0.011620,0.012442,0.571194,...,0.731041,0.767002,1.009756,5.090,1.942,1.279,0.391,3.807,1.279,25.044001
4,7,4,0.005046,0.006253,0.001802,0.002071,0.011298,0.011620,0.010904,0.577388,...,0.781532,0.767002,0.638302,5.358,1.942,1.492,0.462,3.868,1.279,21.948000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11707,10,19,0.010472,0.012725,0.010474,0.010036,0.005783,0.009967,0.003949,0.710532,...,-0.781201,0.495485,-1.041280,11.119,3.952,8.671,2.239,1.980,1.097,7.949000
11708,10,20,0.010472,0.012725,0.010474,0.010036,0.005783,0.009967,0.003949,0.710532,...,-0.781201,0.495485,-1.041280,11.119,3.952,8.671,2.239,1.980,1.097,7.949000
11709,10,21,0.010472,0.012725,0.010474,0.010036,0.005783,0.009967,0.003949,0.710532,...,-0.781201,0.495485,-1.041280,11.119,3.952,8.671,2.239,1.980,1.097,7.949000
11710,10,22,0.010472,0.012725,0.010474,0.010036,0.005783,0.009967,0.003949,0.710532,...,-0.781201,0.495485,-1.041280,11.119,3.952,8.671,2.239,1.980,1.097,7.949000
11711,10,23,0.010472,0.012725,0.010474,0.010036,0.005783,0.009967,0.003949,0.710532,...,-0.781201,0.495485,-1.041280,11.119,3.952,8.671,2.239,1.980,1.097,7.949000

In [82]:
combine_reg2

,Month,Hour,HUFL_reg2,HULL_reg2,MUFL_reg2,MULL_reg2,LUFL_reg2,LULL_reg2,OT_reg2,HUFL_nor2,...,LUFL_stand2,LULL_stand2,OT_stand2,HUFL,HULL,MUFL,MULL,LUFL,LULL,OT
0,7,0,0.009259,0.009516,0.007073,0.008241,0.007337,0.001589,0.011419,0.381211,...,0.953157,0.479498,0.831661,41.130001,12.481,36.535999,9.355,4.424,1.311,38.661999
1,7,1,0.008449,0.007728,0.006570,0.006635,0.007355,0.001473,0.010965,0.347826,...,0.955153,0.466349,0.698025,37.528000,10.136,33.936001,7.532,4.435,1.215,37.124001
2,7,2,0.008543,0.008622,0.006840,0.007935,0.003483,0.000000,0.010770,0.351710,...,0.531380,0.299925,0.640765,37.946999,11.309,35.330002,9.007,2.100,0.000,36.465000
3,7,3,0.008769,0.009069,0.006881,0.008312,0.005605,0.001473,0.009927,0.361024,...,0.763684,0.466349,0.392566,38.952000,11.895,35.543999,9.436,3.380,1.215,33.608501
4,7,4,0.008580,0.008750,0.006855,0.008477,0.003376,0.000000,0.009407,0.353257,...,0.519765,0.299925,0.239815,38.113998,11.476,35.410000,9.623,2.036,0.000,31.850500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11707,10,19,0.007015,0.000000,0.007836,0.001582,-0.014250,-0.001719,0.004800,0.288823,...,-1.409263,0.105696,-1.115700,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000
11708,10,20,0.007015,0.000000,0.007836,0.001582,-0.014250,-0.001719,0.004800,0.288823,...,-1.409263,0.105696,-1.115700,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000
11709,10,21,0.007015,0.000000,0.007836,0.001582,-0.014250,-0.001719,0.004800,0.288823,...,-1.409263,0.105696,-1.115700,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000
11710,10,22,0.007015,0.000000,0.007836,0.001582,-0.014250,-0.001719,0.004800,0.288823,...,-1.409263,0.105696,-1.115700,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000
11711,10,23,0.007015,0.000000,0.007836,0.001582,-0.014250,-0.001719,0.004800,0.288823,...,-1.409263,0.105696,-1.115700,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000

In [83]:
combine_reg1 = combine_reg1.to_numpy()[:,0:9]
combine_reg2 = combine_reg2.to_numpy()[:,0:9]

In [84]:
combine_reg1

array([[7.00000000e+00, 0.00000000e+00, 5.48785497e-03, ...,
        1.22762482e-02, 1.21746633e-02, 1.51675517e-02],
       [7.00000000e+00, 1.00000000e+00, 5.36165380e-03, ...,
        1.20980779e-02, 1.24563161e-02, 1.38043552e-02],
       [7.00000000e+00, 2.00000000e+00, 4.85685048e-03, ...,
        1.10319743e-02, 1.10662241e-02, 1.38043552e-02],
       ...,
       [1.00000000e+01, 2.10000000e+01, 1.04718483e-02, ...,
        5.78324322e-03, 9.96686968e-03, 3.94899828e-03],
       [1.00000000e+01, 2.20000000e+01, 1.04718483e-02, ...,
        5.78324322e-03, 9.96686968e-03, 3.94899828e-03],
       [1.00000000e+01, 2.30000000e+01, 1.04718483e-02, ...,
        5.78324322e-03, 9.96686968e-03, 3.94899828e-03]])

In [85]:
combine_reg2

array([[ 7.00000000e+00,  0.00000000e+00,  9.25945702e-03, ...,
         7.33664857e-03,  1.58935384e-03,  1.14193497e-02],
       [ 7.00000000e+00,  1.00000000e+00,  8.44855076e-03, ...,
         7.35489095e-03,  1.47297100e-03,  1.09650809e-02],
       [ 7.00000000e+00,  2.00000000e+00,  8.54287851e-03, ...,
         3.48258635e-03,  0.00000000e+00,  1.07704361e-02],
       ...,
       [ 1.00000000e+01,  2.10000000e+01,  7.01539504e-03, ...,
        -1.42504130e-02, -1.71907227e-03,  4.79965957e-03],
       [ 1.00000000e+01,  2.20000000e+01,  7.01539504e-03, ...,
        -1.42504130e-02, -1.71907227e-03,  4.79965957e-03],
       [ 1.00000000e+01,  2.30000000e+01,  7.01539504e-03, ...,
        -1.42504130e-02, -1.71907227e-03,  4.79965957e-03]])

In [86]:
#零均值化
combine_zero1 = combine1
HUFL41 = combine_zero1['HUFL']-combine_zero1['HUFL'].mean()
HULL41 = combine_zero1['HULL']-combine_zero1['HULL'].mean()
MUFL41 = combine_zero1['MUFL']-combine_zero1['MUFL'].mean()
MULL41 = combine_zero1['MULL']-combine_zero1['MULL'].mean()
LUFL41 = combine_zero1['LUFL']-combine_zero1['LUFL'].mean()
LULL41 = combine_zero1['LULL']-combine_zero1['LULL'].mean()
OT41 = combine_zero1['OT']-combine_zero1['OT'].mean()

combine_zero2 = combine2
HUFL42 = combine_zero2['HUFL']-combine_zero2['HUFL'].mean()
HULL42 = combine_zero2['HULL']-combine_zero2['HULL'].mean()
MUFL42 = combine_zero2['MUFL']-combine_zero2['MUFL'].mean()
MULL42 = combine_zero2['MULL']-combine_zero2['MULL'].mean()
LUFL42 = combine_zero2['LUFL']-combine_zero2['LUFL'].mean()
LULL42 = combine_zero2['LULL']-combine_zero2['LULL'].mean()
OT42 = combine_zero2['OT']-combine_zero2['OT'].mean()

In [87]:
combine_zero1.insert(loc=2, column='HUFL_zero1', value= HUFL41)
combine_zero1.insert(loc=3, column='HULL_zero1', value= HULL41)
combine_zero1.insert(loc=4, column='MUFL_zero1', value= MUFL41)
combine_zero1.insert(loc=5, column='MULL_zero1', value= MULL41)
combine_zero1.insert(loc=6, column='LUFL_zero1', value= LUFL41)
combine_zero1.insert(loc=7, column='LULL_zero1', value= LULL41)
combine_zero1.insert(loc=8, column='OT_zero1', value= OT41)

combine_zero2.insert(loc=2, column='HUFL_zero2', value= HUFL42)
combine_zero2.insert(loc=3, column='HULL_zero2', value= HULL42)
combine_zero2.insert(loc=4, column='MUFL_zero2', value= MUFL42)
combine_zero2.insert(loc=5, column='MULL_zero2', value= MULL42)
combine_zero2.insert(loc=6, column='LUFL_zero2', value= LUFL42)
combine_zero2.insert(loc=7, column='LULL_zero2', value= LULL42)
combine_zero2.insert(loc=8, column='OT_zero2', value= OT42)

In [88]:
combine_zero1

,Month,Hour,HUFL_zero1,HULL_zero1,MUFL_zero1,MULL_zero1,LUFL_zero1,LULL_zero1,OT_zero1,HUFL_reg1,...,LUFL_stand1,LULL_stand1,OT_stand1,HUFL,HULL,MUFL,MULL,LUFL,LULL,OT
0,7,0,-1.695154,0.089287,-3.022187,-0.206881,1.2792,0.575129,13.903126,0.005488,...,1.058817,0.858005,1.668079,5.827,2.009,1.599,0.462,4.203,1.340,30.531000
1,7,1,-1.829155,0.156287,-3.129187,-0.242881,1.2182,0.606129,11.159127,0.005362,...,1.008327,0.904252,1.338857,5.693,2.076,1.492,0.426,4.142,1.371,27.787001
2,7,2,-2.365154,-0.178713,-3.342187,-0.313881,0.8532,0.453129,11.159127,0.004857,...,0.706209,0.675999,1.338857,5.157,1.741,1.279,0.355,3.777,1.218,27.787001
3,7,3,-2.432154,0.022287,-3.342187,-0.277881,0.8832,0.514129,8.416127,0.004794,...,0.731041,0.767002,1.009756,5.090,1.942,1.279,0.391,3.807,1.279,25.044001
4,7,4,-2.164155,0.022287,-3.129187,-0.206881,0.9442,0.514129,5.320126,0.005046,...,0.781532,0.767002,0.638302,5.358,1.942,1.492,0.462,3.868,1.279,21.948000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11707,10,19,3.596846,2.032286,4.049812,1.570119,-0.9438,0.332129,-8.678874,0.010472,...,-0.781201,0.495485,-1.041280,11.119,3.952,8.671,2.239,1.980,1.097,7.949000
11708,10,20,3.596846,2.032286,4.049812,1.570119,-0.9438,0.332129,-8.678874,0.010472,...,-0.781201,0.495485,-1.041280,11.119,3.952,8.671,2.239,1.980,1.097,7.949000
11709,10,21,3.596846,2.032286,4.049812,1.570119,-0.9438,0.332129,-8.678874,0.010472,...,-0.781201,0.495485,-1.041280,11.119,3.952,8.671,2.239,1.980,1.097,7.949000
11710,10,22,3.596846,2.032286,4.049812,1.570119,-0.9438,0.332129,-8.678874,0.010472,...,-0.781201,0.495485,-1.041280,11.119,3.952,8.671,2.239,1.980,1.097,7.949000
11711,10,23,3.596846,2.032286,4.049812,1.570119,-0.9438,0.332129,-8.678874,0.010472,...,-0.781201,0.495485,-1.041280,11.119,3.952,8.671,2.239,1.980,1.097,7.949000

In [89]:
combine_zero2

,Month,Hour,HUFL_zero2,HULL_zero2,MUFL_zero2,MULL_zero2,LUFL_zero2,LULL_zero2,OT_zero2,HUFL_reg2,...,LUFL_stand2,LULL_stand2,OT_stand2,HUFL,HULL,MUFL,MULL,LUFL,LULL,OT
0,7,0,1.330605,1.642655,-8.769058,-0.458414,5.25192,3.500654,9.571507,0.009259,...,0.953157,0.479498,0.831661,41.130001,12.481,36.535999,9.355,4.424,1.311,38.661999
1,7,1,-2.271396,-0.702345,-11.369056,-2.281414,5.26292,3.404654,8.033509,0.008449,...,0.955153,0.466349,0.698025,37.528000,10.136,33.936001,7.532,4.435,1.215,37.124001
2,7,2,-1.852397,0.470655,-9.975055,-0.806414,2.92792,2.189654,7.374509,0.008543,...,0.531380,0.299925,0.640765,37.946999,11.309,35.330002,9.007,2.100,0.000,36.465000
3,7,3,-0.847396,1.056655,-9.761058,-0.377414,4.20792,3.404654,4.518010,0.008769,...,0.763684,0.466349,0.392566,38.952000,11.895,35.543999,9.436,3.380,1.215,33.608501
4,7,4,-1.685397,0.637655,-9.895057,-0.190414,2.86392,2.189654,2.760009,0.008580,...,0.519765,0.299925,0.239815,38.113998,11.476,35.410000,9.623,2.036,0.000,31.850500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11707,10,19,-8.637395,-10.838345,-4.828056,-8.017414,-7.76508,0.771654,-12.840491,0.007015,...,-1.409263,0.105696,-1.115700,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000
11708,10,20,-8.637395,-10.838345,-4.828056,-8.017414,-7.76508,0.771654,-12.840491,0.007015,...,-1.409263,0.105696,-1.115700,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000
11709,10,21,-8.637395,-10.838345,-4.828056,-8.017414,-7.76508,0.771654,-12.840491,0.007015,...,-1.409263,0.105696,-1.115700,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000
11710,10,22,-8.637395,-10.838345,-4.828056,-8.017414,-7.76508,0.771654,-12.840491,0.007015,...,-1.409263,0.105696,-1.115700,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000
11711,10,23,-8.637395,-10.838345,-4.828056,-8.017414,-7.76508,0.771654,-12.840491,0.007015,...,-1.409263,0.105696,-1.115700,31.162001,0.000,40.477001,1.796,-8.593,-1.418,16.250000

In [90]:
combine_zero1 = combine_zero1.to_numpy()[:,0:9]
combine_zero2 = combine_zero2.to_numpy()[:,0:9]

In [91]:
combine_zero1

array([[ 7.        ,  0.        , -1.69515432, ...,  1.27919995,
         0.57512871, 13.90312633],
       [ 7.        ,  1.        , -1.82915462, ...,  1.21820008,
         0.60612872, 11.15912684],
       [ 7.        ,  2.        , -2.36515439, ...,  0.85319983,
         0.45312873, 11.15912684],
       ...,
       [10.        , 21.        ,  3.59684598, ..., -0.9438001 ,
         0.33212868, -8.67887393],
       [10.        , 22.        ,  3.59684598, ..., -0.9438001 ,
         0.33212868, -8.67887393],
       [10.        , 23.        ,  3.59684598, ..., -0.9438001 ,
         0.33212868, -8.67887393]])

In [92]:
combine_zero2

array([[  7.        ,   0.        ,   1.3306054 , ...,   5.25191987,
          3.50065426,   9.57150728],
       [  7.        ,   1.        ,  -2.27139579, ...,   5.26292003,
          3.4046543 ,   8.03350908],
       [  7.        ,   2.        ,  -1.85239707, ...,   2.92791999,
          2.18965427,   7.37450869],
       ...,
       [ 10.        ,  21.        ,  -8.63739501, ...,  -7.76508033,
          0.77165428, -12.84049146],
       [ 10.        ,  22.        ,  -8.63739501, ...,  -7.76508033,
          0.77165428, -12.84049146],
       [ 10.        ,  23.        ,  -8.63739501, ...,  -7.76508033,
          0.77165428, -12.84049146]])

In [93]:
def MAE (window_size,file):
     x = np.empty([11712-window_size+1 , 9 * (window_size-1)], dtype = float)
     y = np.empty([11712-window_size+1, 1], dtype = float)
     
    
     for i in range(11712-window_size+1): #滑动窗口的大小为24，取前23个数据放入x，第24个的output放入y
        x[i,:] = file[i:window_size+i-1:,].reshape(1,-1)  #将前23个数据平铺成一行向量
        y[i,0] = file[window_size+i-1,8]                  #将第24行的油温加入y
        x_train = x[: math.floor(len(x) * 0.75), :]       #前12个月作为数据集
        y_train = y[: math.floor(len(y) * 0.75), :]
        x_validation = x[math.floor(len(x) * 0.75): , :]   #后4个月作为测试集
        y_validation = y[math.floor(len(y) * 0.75): , :]
     model = LinearRegression()
     model.fit(x_train, y_train)
     y_pred = model.predict(x_validation)
     MAE = metrics.mean_absolute_error(y_validation, y_pred)
     return MAE

def MSE (window_size,file):
     x = np.empty([11712-window_size+1 , 9 * (window_size-1)], dtype = float)
     y = np.empty([11712-window_size+1, 1], dtype = float)
     
    
     for i in range(11712-window_size+1): #滑动窗口的大小为24，取前23个数据放入x，第24个的output放入y
        x[i,:] = file[i:window_size+i-1:,].reshape(1,-1)  #将前23个数据平铺成一行向量
        y[i,0] = file[window_size+i-1,8]                  #将第24行的油温加入y
        x_train = x[: math.floor(len(x) * 0.75), :]       #前12个月作为数据集
        y_train = y[: math.floor(len(y) * 0.75), :]
        x_validation = x[math.floor(len(x) * 0.75): , :]   #后4个月作为测试集
        y_validation = y[math.floor(len(y) * 0.75): , :]
     model = LinearRegression()
     model.fit(x_train, y_train)
     y_pred = model.predict(x_validation)
     MSE = metrics.mean_squared_error(y_validation, y_pred)
     return MSE

combine_stand1,combine_stand2,combine_nor1,combine_nor2,combine_reg1,combine_reg2,combine_zero1,combine_zero2
24,48,168,336,720
MAE,MSE

In [94]:
Combine1= [combine_stand1,combine_nor1,combine_reg1,combine_zero1]
Window_Size=[24,48,168,336,720]
#Window_Size=[24,48]
#Combine= [combine_stand1,combine_stand2]

In [95]:
Combine2= [combine_stand2,combine_nor2,combine_reg2,combine_zero2]
Window_Size=[24,48,168,336,720]

In [96]:
ACC_MAE1 = np.empty([len(Combine1),len(Window_Size)], dtype = float)
ACC_MSE1 = np.empty([len(Combine1),len(Window_Size)], dtype = float)
for i in range(len(Combine1)):
    for j in range(len(Window_Size)):
        ACC_MAE1[i][j] = MAE(Window_Size[j],Combine1[i])
        ACC_MSE1[i][j] = MSE(Window_Size[j],Combine1[i])
print(ACC_MAE1)
print(ACC_MSE1)

[[8.27934911e-02 8.20917220e-02 9.31671805e-02 1.45663523e-01
  2.72242908e-01]
 [1.37773964e-02 1.36619805e-02 1.55062780e-02 2.42402266e-02
  4.55695665e-02]
 [3.42820375e-04 3.39793396e-04 3.93924322e-04 6.03436731e-04
  1.12756504e-03]
 [6.90068450e-01 6.84409203e-01 7.76397623e-01 1.21446760e+00
  2.27064952e+00]]
[[1.54020663e-02 1.45086068e-02 1.72437384e-02 4.82716737e-02
  1.54684677e-01]
 [4.26501834e-04 4.01820945e-04 4.77829572e-04 1.33693534e-03
  4.35444691e-03]
 [2.64070476e-07 2.48450966e-07 3.02937756e-07 8.29376817e-07
  2.65448431e-06]
 [1.06996837e+00 1.00859985e+00 1.19751397e+00 3.35380439e+00
  1.07665440e+01]]

In [97]:
ACC_MAE2 = np.empty([len(Combine2),len(Window_Size)], dtype = float)
ACC_MSE2 = np.empty([len(Combine2),len(Window_Size)], dtype = float)
for i in range(len(Combine2)):
    for j in range(len(Window_Size)):
        ACC_MAE2[i][j] = MAE(Window_Size[j],Combine2[i])
        ACC_MSE2[i][j] = MSE(Window_Size[j],Combine2[i])
print(ACC_MAE2)
print(ACC_MSE2)

[[4.23712523e-02 4.29585214e-02 5.13304783e-02 6.29934212e-02
  1.06827873e-01]
 [8.28247031e-03 8.40170291e-03 1.00322209e-02 1.23308656e-02
  2.08966123e-02]
 [1.44033204e-04 1.45991339e-04 1.75416320e-04 2.14372680e-04
  3.63328405e-04]
 [4.87646995e-01 4.94273023e-01 5.90895876e-01 7.25850125e-01
  1.23029386e+00]]
[[4.05915342e-03 4.08455770e-03 5.08253912e-03 6.99468998e-03
  1.83008504e-02]
 [1.55100301e-04 1.56137510e-04 1.93874991e-04 2.67964755e-04
  7.00475217e-04]
 [4.69048887e-08 4.71880738e-08 5.90292967e-08 8.10105799e-08
  2.11904165e-07]
 [5.37655349e-01 5.40892734e-01 6.72514669e-01 9.28661791e-01
  2.42831827e+00]]